version: '3.8'

services:
  prometheus:
    image: prom/prometheus:latest
    user: root
    container_name: prometheus
    network_mode: "host"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ./prometheus-data:/prometheus
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    user: root
    container_name: grafana
    network_mode: "host"
    volumes:
      - ./grafana-data:/var/lib/grafana
    depends_on:
      - prometheus
